<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tarefa</title>
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/edicaoStyle.css">
</head>
<body>
<h1>Editar Tarefa</h1>
<div class="card">
    <header class="card-header">
        <div class="header-info">
            <h2 th:text="'ID da Tarefa: ' + ${tarefa.id}"></h2>
        </div>
    </header>

    <div class="card-content">
        <form th:action="@{/tarefas/ui/atualizarTarefa/{id}(id=${tarefa.id})}" th:object="${tarefa}" method="post">

            <div class="form-group">
                <label>Descrição:</label>
                <input type="text" th:field="*{descricao}" class="form-control"/>
            </div>

            <div class="form-group">
                <label>Agentes:</label>
                <div th:each="ag : ${todosAgentes}">
                    <input type="checkbox" th:value="${ag.id}" th:field="*{agenteIds}"
                           th:checked="${tarefa.agenteIds.contains(ag.id)}"/>
                    <span th:text="${ag.nome}"></span>
                </div>
            </div>

            <div class="form-group">
                <label>Nível de Demanda:</label>
                <select id="nivelDemanda" th:field="*{nivelDemanda}" required>
                    <option value="">-- Selecione um nível --</option>
                    <option value="BAIXA" th:selected="${tarefa.nivelDemanda=='BAIXA'}">Baixa</option>
                    <option value="MEDIA" th:selected="${tarefa.nivelDemanda=='MEDIA'}">Média</option>
                    <option value="ALTA" th:selected="${tarefa.nivelDemanda=='ALTA'}">Alta</option>
                </select>
            </div>

            <div class="form-actions">
                <button type="submit" class="save-btn">Salvar</button>
                <a th:href="@{/tarefas/ui/listarTarefas}" class="cancel-btn">Cancelar</a>
            </div>
        </form>

    </div>
</div>
</body>
</html>
