<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Agente</title>
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/edicaoStyle.css">
</head>
<body>
<h1>Editar Agente</h1>
<div class="card">
    <header class="card-header">
        <img class="profile-pic" th:src="${agente.urlImage}" alt="Foto do Agente">
    </header>

    <div class="card-content">
        <form th:action="@{/agentes/ui/atualizarAgente/{id}(id=${agente.id})}" method="post">

            <div class="form-group">
                <label>Nome:</label>
                <input type="text" name="nome" th:value="${agente.nome}" required>
            </div>

            <div class="form-group">
                <label>Email:</label>
                <input type="email" name="email" th:value="${agente.email}" required>
            </div>

            <div class="form-group">
                <label>Idade:</label>
                <input type="number" name="idade" th:value="${agente.idade}" required>
            </div>

            <div class="form-group">
                <label>Nível de Demanda:</label>
                <select name="nivelDeDemanda" required>
                    <option th:selected="${agente.nivelDeDemanda == 'Fácil'}" value="Fácil">Fácil</option>
                    <option th:selected="${agente.nivelDeDemanda == 'Médio'}" value="Médio">Médio</option>
                    <option th:selected="${agente.nivelDeDemanda == 'Difícil'}" value="Difícil">Difícil</option>
                </select>
            </div>

            <div class="form-actions">
                <button type="submit" class="save-btn">Salvar</button>
                <a th:href="@{/agentes/ui/listarAgentes}" class="cancel-btn">Cancelar</a>
            </div>
        </form>
    </div>
</div>

</body>
</html>
